Source: wasta-core
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-core

Package: wasta-core
Architecture: all
Depends: gnupg, yad, ${misc:Depends}
Recommends: at, debconf-utils, qt5-style-plugins, qt6-gtk-platformtheme, wasta-backup, wasta-menus, wasta-offline, wasta-resources-core
Description: Wasta-Linux Core
 Wasta-Linux core system setup package
 .
 This package should be installed on any machine running Wasta-Linux
